.contentParent {
    display: flex;
    /* justify-content: flex-end; */
    flex-direction: column;
    width: 100%;
    padding-top: 40px;
}

.contentParent .holiday-card:hover {
    border: 1px solid #fb8b57;
}

.contentParent .holiday-card {
    cursor: pointer;
    align-self: center;
    width: 650px;
    outline-color: white;
    outline: none;
    box-sizing: border-box;
    background-color: #fff;
    border-radius: 25px;
    display: flex;
    height: 85px;
    margin-top: 20px;
    /* box-shadow: 0px 0px 0px -1px rgba(0,0,0,0.2), 0px 0px 5px 0px rgba(0,0,0,0.14), 0px 0px 5px 0px rgba(0,0,0,0.12); */

    animation: fadeInAnimation ease 3s;
    animation-iteration-count: 1; 
    animation-fill-mode: forwards; 

    /* position: relative;
    -webkit-animation: myfirst 5s infinite;
    -webkit-animation-direction: alternate;
    animation: myfirst 5s;
    animation-direction: alternate; */
}

/* @-webkit-keyframes myfirst {
    0%   {left: -1500px; top: 0px;}
    25%  {left: 0px; top: 0px;}
    50%  {left: 0px; top: 0;}
    75%  {left: 0px; top: 0;}
    100% {left: 0px; top: 0px;}
}

@keyframes myfirst {
    0%   {left: -1500px; top: 0px;}
    25%  {left: 0px; top: 0px;}
    50%  {left: 0px; top: 0;}
    75%  {left: 0px; top: 0;}
    100% {left: 0px; top: 0px;}
} */

@keyframes fadeInAnimation { 
    0% { 
        opacity: 0; 
    } 
    100% { 
        opacity: 1; 
    } 
} 
@-webkit-keyframes fadeInAnimation {
    0% { 
        opacity: 0; 
    } 
    100% { 
        opacity: 1; 
    } 
}

.holiday-card .date{
    /* font-size: 30px; */
    width: 30%;
    text-align: center;
    padding-top: 11px;
    background-color: #fb8b55;
    border-radius: 25px;
    color: #fff;
    border-bottom-right-radius: 0px;
    border-top-right-radius: 0px;
}

.date p {
    margin: 0;
}

.date .date-text {
    font-size: 30px;
}

.holiday-card .name-type {
    width: 70%;
    padding-top: 11px;
}

.name-type div {
    text-align: left;
    font-size: 30px;
    padding-left: 30px;

    width: 400px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.name-type .type {
    font-size: 16px;
}